.group{
    margin: 2.5% 0 2.5% 0;
}

.form-input{
    border: none;
    border-bottom: 1px solid grey;
    width: 30%;
}

.form-input:focus{
    outline: none;
    border-bottom: 2px solid black;
}

.form-input-label{
    font-size: large;
}